{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_report/reporte


    Example context (json):
    {

    }
}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">


<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>


<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>Id</th>
        <th>Encuesta</th>
        <th>Fecha de Realización</th>
        <th>Nombre del Jefe</th>
        <th>Nombre del colaborador</th>
        <th>Departamento</th>
        <th>Puesto</th>
        <th>Area tecnica</th>
        <th>Area integral</th>
        <th>Nota de validación</th>
        <th>Resultado</th>
        <th>Comentario</th>

    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
             <td><a>{{id}}</a></td>
             <td><a>{{nomencuesta}}</a></td>
             <td><a> {{fecha}}</a></td>
             <td><a> {{encargado}}</a></td>
             <td><a href="respuesta.php?response_id={{response_id}}"> {{nombre}}</a></td>
             <td><a> {{departamento}}</a></td>
             <td><a> {{puesto}}</a></td>
             <td><a> {{nota1}}</a></td>
             <td><a> {{nota2}}</a></td>
             <td><a> {{notafinal}}</a></td>
             <td><a> {{resultado}}</a></td>
             <td><a> {{comentario}}</a></td>
        </tr>
    {{/users}}

    </tbody>

</table>



<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
            buttons: [
              'pageLength','excelHtml5'
            ]
        } );
    } );
</script>
